pyTelegramBotAPI
transformers
llama-index
llama-index-vector-stores-qdrant
llama-index-readers-file
llama-index-embeddings-together
llama-index-llms-together
qdrant-client
python-dotenv
tqdm
sentence-transformers
llama-index-tools-bing-search
llama-index-tools-duckduckgo